*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 9rem;
}
.outer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin:.5rem auto;
    padding: 0.5rem 1rem;
    width: auto;
    height: auto;
    background-color: rgba(51, 50, 50);
    overflow: hidden;
}
.inner{
    width: 14rem;
    margin: .1rem 1.2rem;
    height: 19rem;
    position: relative;
    overflow: hidden;
    flex: 0 0 auto;
}
.cubic-left{
    background-color: blanchedalmond;
    width: 100%;
    height: 100%;
    position: absolute;
    border-right: .2rem solid rgba(51, 50, 50, 0.76);
    left: -5%;
    top: 0;
    transition: all .4s ease-in .1s;
    overflow: hidden;
}
.cubic-right{
    background-image:  linear-gradient(to right bottom,rgb(255, 68, 0) 10%, rgb(255, 166, 0));
    width: 100%;
    height: 94%;
    position: absolute;
    left: 95%;
    top: 3%;
    transition: all .4s ease-in .1s;
    overflow: hidden;
}
.inner:hover>.cubic-left, .inner:hover>.cubic-right{
    transform: translateX(-90%);
}
.text-box-a{
    left: 0;   
}
.text-box-b{
    left: -200%;
    top: 0;
}
.text-box-a,.text-box-b{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .4s ease-in .1s;
    overflow: hidden;
}
.inner:hover .text-box-a,.inner:hover .text-box-b{
   transform: translateX(200%);
}
h2{
    text-align: right;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 2.7rem .8rem;
    background-image:  linear-gradient(to right bottom,rgb(255, 68, 0) 1%, rgb(255, 166, 0));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
 h5{
    text-align: left;
    font-size: .8rem;
    font-weight: 500;
    padding: .7rem;
    margin-top: .5rem;
}
